@font-face {
  font-family: 'Aquire';
  src: url(../css/fonts/Aquire-BW0ox.otf); }

.hidden {
  visibility: hidden;
  opacity: 0; }

.hidden-animate {
  transform: translateY(-10rem);
  opacity: 0;
  visibility: hidden; }

.display-n {
  display: none !important; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000; }

.center {
  display: flex;
  align-items: center;
  justify-content: center; }

.bt {
  border-top: 1px solid #e6e6ea; }

.bb {
  border-bottom: 1px solid #e6e6ea; }

.position-r {
  position: relative; }

.color-primary {
  color: #0099e5; }

.color-secondary {
  color: #ff4c4c; }

.df {
  display: flex; }

.flex-d-c {
  flex-direction: column; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  color: #606266;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6; }

::placeholder {
  color: #b6b7ba; }

select {
  height: 2.6rem;
  width: 4.8rem;
  margin: 0 0.6rem;
  background-color: #fff;
  border: 1px solid #606266;
  border-radius: 0.4rem;
  color: #606266;
  cursor: pointer;
  font-size: 1.6rem;
  outline: none; }

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none; }

.logo-container {
  display: flex;
  justify-content: center; }

.logo {
  font-family: "Aquire";
  user-select: none; }
  .logo__link {
    text-decoration: none; }
  .logo__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.4rem;
    height: 3.4rem;
    background-color: #0099e5;
    border-radius: 10rem;
    box-shadow: -0.3rem -0.3rem 0 0.2rem #f1c40f, 0.3rem 0.3rem 0 0.2rem #ff4c4c, inset -0.3rem -0.3rem 0.5rem #0099e5, inset 0.3rem 0.3rem 0.5rem #e5f6ff, inset -0.3rem -0.3rem 0.5rem #000, inset 0.3rem 0.3rem 0.5rem #fff;
    color: #fff;
    font-size: 3rem; }
  .logo__name {
    margin-left: 1.2rem;
    color: #484848;
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 0.4rem; }

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 9rem;
  height: 4rem;
  padding: 0 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6;
  color: inherit;
  background-color: #fff;
  border: 1px solid #e6e6ea;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s; }
  .btn:not(:last-child) {
    margin-right: 1rem; }
  .btn__icon {
    margin-right: 0.6rem; }
  .btn:hover {
    filter: brightness(94%); }

.btn--red {
  background-color: #ff4c4c;
  color: #fff; }

.btn--blue {
  background-color: #0099e5;
  color: #fff; }

.option {
  position: relative;
  cursor: pointer; }
  .option__selected, .option__select {
    border-radius: 0.4rem;
    border: 1px solid #b6b7ba;
    overflow: hidden; }
  .option__selected {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .option__selected:hover {
      background-color: #e5f6ff; }
  .option__select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 20rem;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
    overflow: auto;
    z-index: 100; }
  .option__icon {
    margin-right: 1rem;
    font-size: 1.2rem;
    cursor: pointer; }
  .option__name {
    padding: 0.9rem 1rem;
    white-space: nowrap; }
    .option__name + .option__name {
      border-top: 1px solid #b6b7ba; }
    .option__name:hover {
      background-color: #e5f6ff; }

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 5.4rem;
  height: 3rem;
  border-radius: 10rem;
  outline: 1px solid rgba(182, 183, 186, 0.4);
  cursor: pointer;
  box-shadow: inset 0 0 0.2rem #b6b7ba; }
  .toggle-switch:before {
    content: '';
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 100%;
    background-color: #b6b7ba;
    box-shadow: inset 0 0 0.4rem 0 white;
    transition: all 0.3s; }
  .toggle-switch--checked {
    outline: 1px solid rgba(0, 153, 229, 0.4);
    box-shadow: inset 0 0 0.2rem #0099e5; }
    .toggle-switch--checked:before {
      left: calc(100% - 2.8rem);
      background-color: #0099e5; }

.popup-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  will-change: opacity;
  transition: all 0.3s cubic-bezier(0, 0.55, 0.45, 1); }

.popup {
  position: relative;
  min-width: 50rem;
  margin-top: 4rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  transition: all 0.3s cubic-bezier(0, 0.55, 0.45, 1); }
  .popup__icon-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.6rem;
    cursor: pointer; }
  .popup__title {
    font-size: 2rem; }
  .popup__message {
    font-size: 1.6rem;
    margin: 1rem 0 1rem 0; }
  .popup__btn-wrapper {
    display: flex;
    justify-content: flex-end; }

.notification {
  position: fixed;
  top: 0;
  left: 50%;
  display: flex;
  align-items: center;
  width: 40rem;
  margin-top: -1rem;
  padding: 1.6rem 1rem 0.6rem 1rem;
  backdrop-filter: blur(5px);
  border: 1px solid #f4f4f8;
  border-radius: 1rem;
  transform: translateX(-50%);
  transition: all 0.6s cubic-bezier(0, 0.55, 0.45, 1);
  z-index: 1000; }
  .notification--success {
    background-color: rgba(229, 246, 255, 0.8); }
  .notification--success .notification__icon {
    color: #0099e5; }
  .notification--error {
    background-color: rgba(255, 76, 76, 0.2); }
  .notification--error .notification__icon {
    color: #ff4c4c; }
  .notification__icon-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.6rem;
    cursor: pointer; }
  .notification__icon {
    font-size: 5rem;
    margin-right: 2rem; }
  .notification__title {
    font-size: 2rem; }
  .notification__message {
    font-size: 1.6rem; }

.checkbox {
  font-size: 1.6rem;
  cursor: pointer; }

.pagination {
  font-size: 1.6rem; }

.pagination-info span {
  font-weight: 600; }

.paginate {
  display: flex;
  justify-content: center;
  margin: 1.6rem 0; }
  .paginate * {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3.4rem;
    height: 3.4rem;
    margin-right: 1rem;
    cursor: pointer;
    border-radius: 10rem;
    color: #606266;
    font-weight: 600; }
    .paginate *[class='current-page'] {
      cursor: default; }
  .paginate i {
    background-color: #f4f4f8; }
  .paginate span:not([class='current-page']):hover {
    background-color: #f4f4f8; }
  .paginate .current-page {
    color: #fff;
    background-color: #0099e5; }

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.56);
  border-radius: 1rem;
  z-index: 100; }
  .spinner i {
    border-radius: 10rem;
    color: #606266;
    font-size: 4.6rem;
    animation: spinner 1s linear infinite; }

@keyframes spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.root {
  display: flex;
  width: 100%;
  height: 100vh; }

.main {
  width: 100%;
  padding-inline: 2.5rem; }

.sidebar {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25rem;
  background-color: #fff; }

.logo-container {
  margin: 2rem 0 4rem;
  width: 100%; }

.navbar {
  width: 100%; }

.nav__item {
  padding: 1rem 2.5rem;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
  color: #606266;
  cursor: pointer;
  list-style: none;
  transition: all 0.2s; }
  .nav__item:hover {
    background-color: #f4f4f8; }

.nav__link {
  display: flex;
  align-items: center;
  color: currentColor;
  text-decoration: none; }

.nav__icon {
  color: currentColor;
  font-size: 1.6rem; }
  .nav__icon:first-child {
    margin-right: 1.2rem; }
  .nav__icon:last-child {
    margin-left: auto;
    font-size: 1.2rem; }

.nav__title {
  margin-right: auto;
  color: currentColor;
  font-weight: 400;
  font-size: 1.6rem; }

.nav__item--active {
  color: #0099e5;
  background-color: #e5f6ff; }
  .nav__item--active:hover {
    background-color: #e5f6ff; }

.nav__item--active .nav__title {
  font-weight: 700; }

.sub-nav__link {
  display: block;
  padding: 1rem 2.5rem;
  list-style: none;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
  color: #606266;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.6rem;
  transition: all 0.2s; }
  .sub-nav__link::before {
    content: '';
    display: inline-block;
    width: 1.6rem;
    margin-right: 1.2rem; }
  .sub-nav__link:hover {
    background-color: #f4f4f8; }

.sub-nav__item--active {
  cursor: default;
  pointer-events: none; }
  .sub-nav__item--active:hover {
    background-color: transparent; }

.sub-nav__item--active span {
  background-color: transparent;
  color: #0099e5;
  cursor: default; }

.footer {
  margin-top: auto;
  padding: 0.4rem;
  color: #606266;
  font-size: 1.2rem;
  align-self: center; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2.5rem;
  background-color: #fff;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem; }
  .header > *:first-child {
    margin-left: 2.5rem; }
  .header > *:last-child {
    margin-right: 2.5rem; }

.search {
  position: relative;
  display: flex;
  align-items: center;
  flex: 0 1 40rem; }
  .search__input {
    width: 100%;
    height: 4.5rem;
    padding: 1rem 1rem 1rem 4.5rem;
    border-radius: 10rem;
    border: 1px solid #e6e6ea;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05) inset;
    background-color: transparent;
    color: #606266;
    font-family: inherit;
    font-size: 1.6rem;
    outline: none; }
    .search__input:focus {
      box-shadow: 0 0 0.5rem #0099e5 inset; }
  .search__button {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(100%, -50%);
    border: 0;
    background-color: transparent;
    color: #b6b7ba;
    line-height: 0; }
  .search__icon {
    font-size: 1.8rem; }

.nav-user {
  display: flex;
  align-items: center; }
  .nav-user__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.25rem 1rem;
    list-style: none;
    cursor: pointer; }
    .nav-user__item:not(:last-child) {
      border-radius: 50%;
      margin-right: 1rem; }
      .nav-user__item:not(:last-child):hover {
        background-color: #f4f4f8; }
    .nav-user__item:hover .sub-nav-user {
      opacity: 1;
      visibility: visible; }
  .nav-user__icon {
    font-size: 2rem; }
  .nav-user__img {
    width: 4rem;
    height: 4rem; }

.sub-nav-user {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, 6.5rem);
  z-index: 999;
  width: 25rem;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  border: 1px solid #f4f4f8;
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden; }
  .sub-nav-user__item {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    list-style: none; }
    .sub-nav-user__item:first-child {
      display: flex;
      align-items: center;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      cursor: text; }
    .sub-nav-user__item:not(:first-child):hover {
      background-color: #f4f4f8; }
  .sub-nav-user__icon {
    margin-right: 1rem; }
  .sub-nav-user__img {
    width: 4rem;
    height: 4rem;
    margin-right: 1.4rem;
    cursor: default; }
  .sub-nav-user__name {
    font-size: 1.8rem;
    font-weight: 500; }
  .sub-nav-user__position {
    color: #606266;
    font-size: 1.4rem;
    font-weight: 300; }
  .sub-nav-user__badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    margin-left: auto;
    border-radius: 50%;
    background-color: #ff4c4c;
    color: #fff;
    font-size: 1.4rem; }

.error-container {
  display: flex;
  justify-content: center;
  margin: 10vw 8vw; }

.error {
  position: relative;
  justify-self: flex-start;
  width: 50rem; }
  .error .logo-container {
    display: flex;
    justify-content: flex-start; }
  .error__message {
    margin-top: 3rem;
    font-size: 1.6rem; }
  .error__icon {
    position: absolute;
    top: 0%;
    right: 0;
    font-size: 20rem;
    color: rgba(0, 153, 229, 0.1); }

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh; }
  .login-container .logo-container {
    margin: 0;
    transform: scale(0.8); }

.login {
  width: 45rem;
  padding: 4rem;
  border-radius: 3%;
  border: 1px solid #b6b7ba;
  font-size: 1.6rem;
  box-shadow: 0 0.5rem 0 0 #fff, 0 16.6rem 1rem -16rem #0099e5, 13rem 16.6rem 1rem -16rem #ff4c4c, -13rem 16.6rem 1rem -16rem #f1c40f; }
  .login__header {
    margin: 2.4rem 0 1.6rem;
    color: #262626;
    text-align: center;
    font-weight: 400; }
  .login__form {
    display: flex;
    flex-direction: column; }
  .login__form .login__link {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.4rem; }
  .login__label {
    color: #484848; }
  .login__input {
    width: 100%;
    padding: 1.5rem 1.5rem;
    margin-bottom: 2rem;
    border-radius: 0.4rem;
    outline: 1px solid #b6b7ba;
    font-family: inherit;
    font-size: inherit;
    color: currentColor;
    border: none; }
    .login__input:focus {
      outline: 0.2rem solid #0099e5; }
    .login__input:focus:invalid {
      outline: 0.2rem solid #ff4c4c; }
  .login__link {
    color: #0099e5;
    text-decoration: none; }
  .login__btn {
    height: 4.9rem;
    margin-top: 1.6rem;
    border-radius: 10rem; }
  .login__paragraph {
    margin-top: 4.6rem;
    text-align: center; }
  .login__error {
    color: #ff4c4c;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 0.6rem; }

.section {
  border-radius: 1rem; }

.header-section {
  display: flex;
  margin-bottom: 2rem; }
  .header-section__heading {
    color: #484848;
    font-size: 2.6rem;
    margin-right: auto; }

.table-wrapper {
  border-radius: 1rem;
  overflow: auto;
  width: 100%;
  max-height: 62rem; }

.table {
  border-collapse: collapse;
  width: 100%;
  min-width: 130rem; }
  .table__head {
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 -1px 0 1px #fff; }
  .table__body {
    position: relative; }
    .table__body .table__row:nth-child(even) {
      background-color: #fafafa; }
    .table__body .table__row {
      cursor: default; }
    .table__body .table__row:hover {
      background-color: #f4f4f8;
      box-shadow: inset 0 -0.5rem 1rem -1rem #484848;
      z-index: 10; }
  .table__heading, .table__data {
    position: relative;
    width: 13rem;
    height: 4.5rem;
    padding-left: 1rem;
    border: 1px solid #fff;
    text-align: left; }
    .table__heading:first-child, .table__data:first-child {
      width: 4rem;
      padding-left: 0;
      text-align: center; }
    .table__heading:nth-child(2), .table__data:nth-child(2) {
      width: auto; }
    .table__heading:nth-last-child(2), .table__data:nth-last-child(2) {
      width: 20rem; }
    .table__heading:last-child, .table__data:last-child {
      width: 4rem;
      padding-left: 0;
      text-align: center; }
  .table__action {
    position: absolute;
    top: 30%;
    right: 70%;
    width: 10rem;
    padding: 0.6rem 1rem;
    background-color: #fff;
    box-shadow: 0 0.4rem 0.8rem #e6e6ea;
    border: 1px solid #e6e6ea;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1.6rem;
    z-index: 20; }
    .table__action:hover {
      background-color: #f4f4f8; }
  .table__heading {
    background-color: #fafafa;
    text-transform: uppercase;
    margin-right: 1rem;
    box-shadow: inset 0 -0.5rem 1rem -1rem #484848; }
    .table__heading:not(:first-child):not(:last-child) {
      cursor: pointer; }
  .table__cell {
    display: flex; }
  .table__name {
    color: #484848; }
  .table__icon-box {
    position: relative;
    margin-left: auto;
    margin-right: 1rem;
    font-size: 1.4rem;
    color: rgba(96, 98, 102, 0.4); }
  .table__icon-sort {
    position: absolute;
    right: 0; }
    .table__icon-sort:first-child {
      top: 0.3rem; }
    .table__icon-sort:last-child {
      bottom: 0.3rem; }
  .table__icon-sort--active {
    color: #484848; }
  .table__icon-action {
    padding: 0.5rem; }
    .table__icon-action:hover {
      cursor: pointer; }
  .table__input {
    display: none; }

.form-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  will-change: opacity;
  transition: all 0.3s cubic-bezier(0, 0.55, 0.45, 1); }

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 96vw;
  max-width: 96rem;
  margin-top: 4rem;
  padding: 2rem calc(1.6rem + 1vw) 2rem calc(1.6rem + 1vw);
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 5rem 10rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0, 0.55, 0.45, 1); }

.form-header {
  display: flex;
  justify-content: space-around; }
  .form-header__error {
    position: absolute;
    top: 0;
    right: -1.2rem;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #ff4c4c; }
  .form-header__heading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #b6b7ba;
    font-size: 1.8rem;
    cursor: pointer; }
    .form-header__heading i {
      font-size: 1.6rem;
      margin-right: 1rem; }
    .form-header__heading--active {
      color: #484848;
      border-bottom: 0.4rem solid #0099e5; }
      .form-header__heading--active i {
        color: #0099e5; }

.form-body {
  margin: 2rem 0 2rem 0; }
  .form-body fieldset {
    border: 0;
    pointer-events: none; }
    .form-body fieldset .option,
    .form-body fieldset input {
      background-color: #fafafa; }
  .form-body__content {
    display: none;
    width: 100%;
    font-size: 1.6rem;
    color: #484848; }
    .form-body__content:last-child {
      align-items: center;
      justify-content: flex-start;
      gap: 2.2rem; }
      .form-body__content:last-child .form-body__wrapper {
        width: fit-content; }
    .form-body__content--active {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
  .form-body__images-wrapper {
    position: relative;
    border-radius: 1rem;
    border: 1px dashed #b6b7ba;
    cursor: pointer; }
    .form-body__images-wrapper:hover img {
      filter: blur(6px); }
    .form-body__images-wrapper:hover i {
      display: block; }
    .form-body__images-wrapper i {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 5rem;
      color: #484848;
      opacity: 1;
      transition: all 0.2s; }
  .form-body img {
    display: block;
    width: 15.8rem;
    height: 24rem;
    object-fit: contain;
    border-radius: 1rem;
    transition: all 0.2s; }
  .form-body__upload-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 16rem;
    height: 24rem;
    color: #b6b7ba;
    cursor: pointer;
    border-radius: 1rem;
    border: 1px dashed #b6b7ba; }
    .form-body__upload-image i {
      font-size: 6rem; }
    .form-body__upload-image p {
      font-size: 2rem;
      margin-top: 0.6rem; }
  .form-body__wrapper {
    position: relative;
    width: 40rem;
    margin: 1.4rem 0 1.4rem 0; }
    .form-body__wrapper span {
      color: #ff4c4c; }
  .form-body__input {
    width: 100%;
    height: 4.5rem;
    padding: 1rem;
    font-family: inherit;
    font-size: 1.6rem;
    color: currentColor;
    border-radius: 0.4rem;
    border: 1px solid #b6b7ba;
    outline: none; }
    .form-body__input:focus {
      border: 1px solid #000; }
  .form-body__option-wrapper {
    position: relative; }
  .form-body__option-selected, .form-body__select {
    border-radius: 0.4rem;
    border: 1px solid #b6b7ba;
    cursor: pointer;
    overflow: hidden; }
  .form-body__select {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
    width: 100%; }
  .form-body__select-icon {
    position: absolute;
    top: 1.8rem;
    right: 1rem;
    font-size: 1.2rem;
    cursor: pointer; }
  .form-body__option {
    padding: 1rem; }
    .form-body__option + .form-body__option {
      border-top: 1px solid #b6b7ba; }
    .form-body__option:hover {
      background-color: #e5f6ff; }
  .form-body__textarea {
    width: 100%;
    min-height: 40vh;
    padding: 1rem;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border-radius: 0.4rem;
    border: none;
    outline: 1px solid #b6b7ba; }
    .form-body__textarea:focus {
      outline: 1px solid #606266; }
  .form-body__toggle-switch {
    display: flex;
    align-items: center; }
    .form-body__toggle-switch span:first-child {
      color: #484848;
      margin-right: auto; }
  .form-body__error {
    position: absolute;
    bottom: -2.2rem;
    left: 0;
    color: #ff4c4c;
    font-size: 1.4rem; }
    .form-body__error i {
      font-size: 1.3rem; }

.form-footer {
  display: flex;
  justify-content: flex-end; }

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.4rem;
  width: 100%; }

.filter {
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer; }
  .filter i {
    margin-right: 0.6rem; }

.filter-option-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  margin-bottom: 2.5rem; }
  .filter-option-list .name {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2rem; }
  .filter-option-list .filter-option {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.6rem; }
    .filter-option-list .filter-option :first-child {
      width: 100%; }
  .filter-option-list div.filter-option {
    flex-direction: column;
    max-width: 20rem; }
  .filter-option-list form.filter-option {
    align-items: center;
    flex-direction: row;
    max-width: 35rem; }
  .filter-option-list input {
    width: 33%;
    padding: 1rem;
    height: 3.64rem;
    font-family: inherit;
    font-size: inherit;
    border-radius: 0.4rem;
    border: 1px solid #b6b7ba;
    outline: none; }
    .filter-option-list input:focus {
      border: 1px solid #606266; }
  .filter-option-list .option__name {
    padding: 0.6rem 1rem; }
  .filter-option-list .btn {
    height: 3.64rem; }
