doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap' rel='stylesheet')
    link(rel='icon' type='image/png' sizes='32x32' href='./img/favicon-32x32.png')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css' integrity='sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==' crossorigin='anonymous' referrerpolicy='no-referrer')
    link(rel='stylesheet' href='./css/dist/main.css')
    title #{title} | Kookee
    
  body.preload
    .root
      include _sidebar

      .main
        include _header
        block content

    .popup-container.popup-container--confirm.overlay.hidden
      .popup.popup--confirm.hidden-animate
        i.popup__icon-close.fas.fa-times
        h5.popup__title Xác nhận
        p.popup__message
        .popup__btn-wrapper
          button.btn Hủy bỏ
          button#delete.btn.btn--blue Đồng ý

    .popup-container.popup-container--alert.overlay.hidden
      .popup.popup--alert.hidden-animate
        i.popup__icon-close.fas.fa-times
        h5.popup__title Xóa thất bại
        p.popup__message Bạn chưa chọn mục nào.
        .popup__btn-wrapper
          button.btn.btn--blue Xác nhận

    .notification.notification--success.hidden
      i.notification__icon-close.fas.fa-times
      i.notification__icon.far.fa-check-circle
      .notification__content
        h5.notification__title Thành công
        p.notification__message

    .notification.notification--error.hidden
      i.notification__icon-close.fas.fa-times
      i.notification__icon.far.fa-times-circle
      .notification__content
        h5.notification__title Thất bại
        p.notification__message

    script(type='module', src='./js/dist/index.js')